<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CM0081 - Programing lab 1 - Checker</title>

    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/foundation/foundation.abide.js"></script>
  </head>
  <body>
    <!-- Nav Bar -->

<div class="row">
    <div class="large-12 columns">
      <h1><a href="/">Programing Lab 1</a> <small>automatic checker</small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->
  <form action="check" method="post"enctype="multipart/form-data" data-abide>
    <div class="row">
      <div class="large-6 columns">
        <div class="name-field">
          <label> <h4> Please upload your SimAFA.hs file </h4>
            <input class="buton" type="file" name="SimAFA"  accept=".hs" required/>
          </label>
          <small class="error">Escoje un archivo.</small>
        </div>
      </div>
      <div class="large-4 columns">
        <input class="button" type="submit" value="upload"/>
      </div>
    </div>
  </form>
  </body>
</html>
